mat-card{
    margin: 45px;
    box-shadow: 0 0 20px 2px grey;

    mat-card-header{
        display: flex;
        justify-content: space-between;
    }
}
.example-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;

    button{
        align-self: flex-end;
    }
}