<mat-card class="example-card">

  <button *ngIf='this.http.admin && !this.http.showDeletedBin && !this.http.onDetail' (click)='delete(keyCode)' mat-mini-fab><i class="material-icons">clear</i></button>
    <div routerLink='details/{{keyCode.key}}'>
        <mat-card-header>

            <mat-card-title>Author name: {{ author }}</mat-card-title>
            <mat-card-subtitle>{{ title }}</mat-card-subtitle>
           
          </mat-card-header>
      
          <img style='border-radius: 10px;margin: 5px 0;' mat-card-sm-image src='{{src}}' (error)="photoError($event)">

          <h5 style='color: red;'>{{ type }}</h5>
      
          <mat-card-content>

            <p>
              {{ description }}
            </p>
          </mat-card-content>
      
          <p>Viable to {{ date | date }}</p>
    </div>
  </mat-card>