@import "~bootstrap/dist/css/bootstrap.min.css";

.jumbotron{
    padding-top: 5%;

    .unposted{
        float: right;
        padding: 1%;
        border: 0;
        outline:none;
        border-radius: 10px;
    }

    .form-group, .form-check, .btn{
        width: 40%;        
        margin-left: 30%;
    }
    .btn{
        width: fit-content;
        margin: 5% 0 0 45%;
    }
    .col-10 label{
        width: 10vw;
    }
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay-show {
    z-index: 100;
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }